/* display background color black on navbar scroll */
.navbarScroll.navbarDark {
    background-color: #11191F;
    
   
}
.navbar a {
    color: white;
}
.navbar {
    background-color: #11191F;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

/* hero background image */
.bgimage {
    height:100vh;
    background: url('images/KaraGardner5light.jpeg');
    background-size:cover;
    position:relative;
    max-width: 1800px;
}
/* text css above hero image*/
.hero_title {
    font-size: 5rem;
    font-weight: 800;
}
.hero_desc {
    font-size: 1.5rem;
}
.hero-text {
    font-family: 'Roboto', sans-serif;
    text-align: left;
    position: absolute;
    top: 50%;
    left: 60%;
    transform: translate(-50%, -50%);
    color: #003861;
   
}

#about {
    background-color: #18232B ;
    color: white;
    
    
}

#about-title {
    color: white;
}
.about-text {
    font-weight:300;
    color: white;
}

/* about section image css */
.imageAboutPage {
    width: 100%;
}

.devicon-html5-plain-wordmark {
    font-size: 4em;
    padding: 1%;
}
.devicon-css3-plain-wordmark{
    font-size: 4em;
    padding: 1%;
}
.devicon-javascript-plain {
    font-size: 4em;
    padding: 1%;
}
.devicon-react-original-wordmark{
    font-size: 4em;
    padding: 1%;
}
.devicon-nodejs-plain{
    font-size: 4em;
    padding: 1%;
}
.devicon-express-original-wordmark{
    font-size: 4em;
    padding: 1%;
}
.devicon-github-original-wordmark{
    font-size: 4em;
    padding: 1%;
}
.devicon-git-plain-wordmark{
    font-size: 4em;
    padding: 1%;
}
.devicon-postgresql-plain-wordmark{
    font-size: 4em;
    padding: 1%;
}
.devicon-sequelize-plain{
    font-size: 4em;
    padding: 1%;
}
.devicon-heroku-original-wordmark{
    font-size: 4em;
    padding: 1%;
}
.devicon-jest-plain{
    font-size: 4em;
    padding: 1%;
}
.devicon-selenium-original{
    font-size: 4em;
    padding: 1%;
}

#technologies {
    margin-top: 5%;
    padding: 1%;
}

#technologies-h2 {
    padding-bottom: 3%;
}



social media icons styling
.social-icons {
   
    cursor: pointer;
}
.fa-github:hover,.fa-linkedin:hover {
    color: #008000;
}
.fa {
    color: #000000;
}
/* footer styling */
#footer {
    background-color: #11191F;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 2%;
   

    
}
