/* display background color black on navbar scroll */
.navbarScroll.navbarDark {
    background-color: rgba(0, 0, 0, 0.517);
    
   
}
.navbar a {
    color: white;
    font-size: 18px;
}

.navbar a:hover {
    color:#66D8F2;
}

.navbar a.active {
    color:#66D8F2;
}

.navbar {
    background-color: rgba(0, 0, 0, 0.517);
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}



.top-row {
    display: flex;
    align-items:center;
    justify-content: center;
    height: 100vh;
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
      ), url('/images/background.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    color: #66D8F2;
    text-align: center;
    
}

.hero-text {
    border-style: solid ;
    padding: 1.5em;
}

.hero_title {
    font-size: 7rem;
    font-weight: 800;
    
}
.hero_desc {
    font-size: 2rem;
    font-weight:200;
    
}


.photo {
    width:50%;
    background-image:url('./images/KaraGardner3.jpeg');
    background-repeat:no-repeat;
    background-size:cover;
}
 

#about {
    padding-top: 3em;
    background-color: #333333 ;
    color: white;        
}

#about-title {
    color: #66D8F2;;
}
.about-text {
    font-size: 18px;
    line-height: 2em;
    font-weight:300;
    color: white;
}

/* about section image css */
.imageAboutPage {
    width: 100%;
}

.devicon-html5-plain-wordmark {
    font-size: 4em;
    padding: 1%;
    
}
.devicon-css3-plain-wordmark{
    font-size: 4em;
    padding: 1%;
}
.devicon-javascript-plain {
    font-size: 4em;
    padding: 1%;
}
.devicon-react-original-wordmark{
    font-size: 4em;
    padding: 1%;
}
.devicon-nodejs-plain{
    font-size: 4em;
    padding: 1%;
}
.devicon-express-original-wordmark{
    font-size: 4em;
    padding: 1%;
}
.devicon-github-original-wordmark{
    font-size: 4em;
    padding: 1%;
}
.devicon-git-plain-wordmark{
    font-size: 4em;
    padding: 1%;
}
.devicon-postgresql-plain-wordmark{
    font-size: 4em;
    padding: 1%;
}
.devicon-sequelize-plain{
    font-size: 4em;
    padding: 1%;
}
.devicon-heroku-original-wordmark{
    font-size: 4em;
    padding: 1%;
}
.devicon-jest-plain{
    font-size: 4em;
    padding: 1%;
}
.devicon-selenium-original{
    font-size: 4em;
    padding: 1%;
}

#technologies {
    margin-top: 5%;
    padding-bottom:2em;
    
}

#technologies-h2 {
    padding-top: 1em;
    padding-bottom: 1em;
    color:#66D8F2;
}



#portfolio {
    padding: 3em 0 3em 0;
    background-color: #666666;
}
#portfolio h1 {
    color: #66D8F2;
}

#contact {
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: #333333;
    text-align: center;
    flex-direction: column;
    padding-top: 2em;
    padding-bottom: 2em;
}
.contact-row h1 {
    color: #66D8F2;
    padding-top: 1em;
    padding-bottom: 1em;
}
.contact-row {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 3em;
}

.form-group {
    margin-bottom: 1em;
}




.card {
    border-style: none !important;
    background-color: #333333 !important;
    color: #fff !important;
    margin-top: 3em;
}

.btn  {
    background-color: transparent !important;
    color:#fff !important;
    border-color: #F285AD !important;
    margin-right: 1em;
    padding:.5em 1em .5em 1em !important;
    font-size: 18px !important;
    font-weight: 500 !important;
}

.btn:hover {
    background-color:#66D8F2 !important;
    border-color: #66D8F2 !important;
}


.social-icons {
  color: white !important;
    cursor: pointer;
}
.fa-github:hover,.fa-linkedin:hover {
    color: #66D8F2;
}
.fa {
    color: #000000;
}
/* footer styling */
#footer {
    background-color: #000;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    color: white;
    
}

#footer a {
    color: white;
    padding: .5em;
}

#footer a:hover {
    color: #66D8F2;
}

